@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --dark-green: #1e3932;
    --green: #008248;
    --light-green: #d4e9e2;
    --very-light-green: #f1f8f6;
    --light-orange: #f3f1e7;
    --gold: #cfb000;

    --small: .8rem;
    --medium: 1rem;
    --medium-plus: 1.415rem;
    --large: 1.7125rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: background-color .25s ease,
            opacity .25s ease;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    color: var(--green);
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}

/* =======header======= */

body {
    position: relative;
}

header {
    z-index: 10;
    position: relative;
}

.top-nav {
    display: flex;
    padding: 1em 1em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 10px #0005;
    z-index: 10;
    background: white;
}

.top-nav>* {
    flex-shrink: 0;
}

.logo {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.menu-toggle {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
}

.left,
.right {
    position: relative;
}

.menu-toggle::after,
.left::after,
.right::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background: #0001;
    border-radius: 50%;
    right: 50%;
    bottom: 50%;
    transform-origin: center;
    transform: translate(50%, 50%) scale(0);
    pointer-events: none;
    transition: .25s ease-in-out;
}

.menu-toggle:hover::after,
.left:hover::after,
.right:hover::after {
    transform: translate(50%, 50%) scale(1);
}

.menu {
    display: inline-block;
    width: 60%;
    height: 2px;
    background: gray;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    animation: burgerMenuBefore .3s alternate-reverse linear;
}

@keyframes burgerMenuBefore {
    0%, 50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes burgerAfterBefore {
    50% {
        transform: rotate(0) translateY(-6.5px);
    }
    100% {
        transform: rotate(0) translateY(-6.5px);
    }
}

@keyframes burgerBeforeBefore {
    50%, 75%{
        transform: rotate(0) translateY(6.5px);
    }
    100% {
        transform: rotate(90deg) translateY(6.5px);
    }
}

.menu::before,
.menu::after {
    content: '';
    width: 100%;
    height: 2.5px;
    background: gray;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: 50% 75%;
}

.menu::before {
    bottom: 6px;
    transform-origin: 50% 7px;
    animation: burgerBeforeBefore .3s alternate-reverse linear;
}

.menu::after {
    top: 6px;
    animation: burgerAfterBefore .3s alternate-reverse linear;
}

.menu.burger {
    animation: burgerMenu .3s forwards linear;
}

.menu.burger::after {
    animation: burgerAfter .3s forwards linear;
}

.menu.burger::before {
    animation: burgerBefore .3s forwards linear;
}

@keyframes burgerMenu {
    0%, 50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes burgerAfter {
    50% {
        transform: rotate(0) translateY(-6.5px);
    }
    100% {
        transform: rotate(0) translateY(-6.5px);
    }
}

@keyframes burgerBefore {
    50%, 75%{
        transform: rotate(0) translateY(6.5px);
    }
    100% {
        transform: rotate(90deg) translateY(6.5px);
    }
}

nav {
    position: fixed;
    height: 100vh;
    width: 80%;
    background: white;
    top: 0;
    right: 0;
    padding: 5em 2em;
    z-index: -1;
    transition: transform .3s ease-in-out;
    transform: translateX(100%);
}

.shown {
    transform: translateX(0);
}

nav li {
    width: 100%;
    margin: 2em 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: var(--large);
    font-weight: 600;
    transition: .15s ease;
}

nav a:hover {
    color: var(--green);
}

nav hr {
    margin: 2em 0;
}

nav button {
    padding: .5em 1em;
    background: none;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    font-weight: 700;
}

nav button:nth-of-type(2) {
    color: white;
    background: black;
}

nav button:first-of-type {
    color: black;
    background: white;
    border: 1px solid black;
}

nav button:first-of-type:hover {
    background: #0001;
}

nav button:nth-of-type(2):hover {
    opacity: .8;
}

nav button:last-child {
    display: flex;
    align-items: center;
    padding-left: 0;
}

nav button:last-child:hover {
    color: var(--green);
}

.sticky-nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--dark-green);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    z-index: 5;
}

.sticky-nav h1 {
    font-size: var(--medium);
}

.sticky-nav button {
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    font-size: var(--small);
    font-weight: 700;
    cursor: pointer;
    padding: .3em 1em;
}

.sticky-nav button:hover {
    background: #fff2;
}

/* =======hero section========= */

.hero {
    padding: 2.5em 1em;
    background: url(images/hero-bg.webp);
    background-size: cover;
    background-position: bottom right;
    aspect-ratio: .75;
    text-align: center;
    color: var(--dark-green);
}

.filter {
    background: #0007;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}

.hero h2 {
    text-transform: uppercase;
    font-size: var(--large);
    font-weight: 700;
}

.hero p {
    margin: 2em 0;
    font-weight: 600;
}

.hero button {
    border: none;
    background: var(--green);
    color: white;
    font-weight: 700;
    border-radius: 20px;
    display: block;
    margin: 0 auto 1em;
    padding: .6em 1em;
    cursor: pointer;
}

.hero button:hover {
    background: #009c56;
}

.hero a {
    color: black;
}

.hero a:hover {
    text-decoration: none;
}

/* ===========get started section=========== */

.started {
    text-align: center;
    padding: 0 1em;
}

.started>h2 {
    font-weight: 600;
    font-size: var(--large);
    margin: 2em 0 .5em;
}

.started>p {
    font-weight: 600;
    font-size: var(--small);
    margin-bottom: 2em;
}

.container-started {
    margin: 2em 0;
    line-height: 1.7;
    text-align: left;
    display: grid;
    grid-template-columns: 55px auto;
    grid-column-gap: 1em;
}

.container-started span {
    display: inline-block;
    grid-row: span 2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid var(--green);
    color: var(--green);
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: var(--large);
}

.container-started h3 {
    margin-bottom: 1em;
    font-size: 1rem;
}

.container-started p {
    font-size: var(--small);
}

.container-started a:hover {
    text-decoration: none;
}

/* =====rewards section====== */

.rewards {
    background: var(--light-green);
    text-align: center;
}

.reward-wrapper {
    background: var(--very-light-green);
}

.rewards-text {
    padding: 2em 0 1em;
    font-weight: 700;
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow-x: hidden;
}

.rewards-text h2 {
    font-size: var(--medium-plus);
    margin: 1em 0;
}

.rewards ul {
    width: 100%;
    display: flex;
}

.rewards ul>* {
    flex: 1;
}

.rewards button {
    width: 100%;
    padding: 1em 0;
    border: none;
    background: none;
    font-size: var(--medium);
    font-weight: 600;
    cursor: pointer;
}

.rewards button span {
    color: var(--gold);
}

.indicator {
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 0;
    background: var(--green);
    transition: .5s ease-in-out;
}

.tabs {
    min-height: 450px;
    position: relative;
    padding: 0 1em;
}

.container-reward {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    max-width: 500px;
    margin: 0 auto;
}

.container-reward.active-tab {
    opacity: 1;
}

.container-reward h3 {
    margin: 1em 0 .5em;
    font-size: var(--medium-plus);
}

.container-reward p {
    font-size: var(--medium);
    width: 90%;
    margin: auto;
}

/* ==========extra section========== */

.extra {
    padding: 3em 1.5em;
    text-align: center;
}

.extra h2 {
    font-size: var(--medium-plus);
    margin-bottom: .8em;
}

.extra p,
.extra-text h3 {
    font-size: var(--medium);
}

.container-extra {
    display: flex;
    gap: 1em;
    margin: 4em 0;
}

.extra-btn {
    background: none;
    border: none;
    max-width: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    cursor: pointer;
}

.extra-text {
    text-align: left;
}

.extra-text p {
    margin: 1em 0;
    font-size: var(--small);
    line-height: 1.8;
}

.extra-text button {
    font-size: var(--small);
    border: none;
    background: none;
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
}

.extra-text button:hover {
    text-decoration: none;
}

/* ------modal------ */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0005;
    z-index: 100;
    transform: scale(1.5);
    opacity: 0;
    transition: .2s ease;
    pointer-events: none;
}

.modal-shown {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.modal-container {
    width: 85%;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background: white;
    position: absolute;
    padding: 2em 0;
    border-radius: 20px;
    overflow: hidden;
    max-width: 400px;
}

.modal-container ul {
    list-style: none;
    display: flex;
    transition: .3s ease-in-out;
}

.modal-container ul>* {
    padding: 0 2em;
    text-align: center;
    flex-shrink: 0;
    width: 100%;
}

.modal-container h3 {
    margin: .5em;
}

.slider-btns {
    display: flex;
    width: 60%;
    margin: 1em auto 0;
    justify-content: space-between;
    align-items: center;
}

.slider-btns button {
    cursor: pointer;
}

.left,
.right {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}

.slider-nav {
    display: flex;
    align-items: center;
}

.slider-nav button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 0 5px;
    background: none;
}

.slider-nav .active-btn {
    background: var(--dark-green);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 105;
}

/* ==========earn section========== */

.earn {
    background: var(--light-orange);
    padding: 3em 1em;
}

.earn img {
    max-width: 100px;
}

.earn>h2 {
    text-align: center;
    font-size: var(--medium-plus);
}

.earn>p {
    text-align: center;
    font-size: var(--small);
    margin: 1.5em 0 3em;
}

.earn hr {
    margin: 1em 0;
}

.container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-column-gap: 1em;
    margin: 1.5em 0;
}

.earn-header {
    margin: 2em 0;
}

.earn-header h3 {
    font-size: var(--medium);
    margin: .3em 0;
}

.earn-header p {
    font-size: var(--small);
    font-weight: 600;
}

.container-text p {
    margin-top: .4em;
}

.container-text a:hover {
    text-decoration: none;
}